html
 {
	width: 100%;
	height: 100%;
	background-color: #F6F6F9;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}
* {
	box-sizing: border-box;
}
.records{
    position: absolute;
    font-size: 3rem;
    color: #7C7C7C;
    top: 17rem;
    margin: 0 atuo;
    text-align: center;
    width: 100%;
}
.header{
	background-color:#161617;
	height: 6rem;
	width: 100%;
}
.back{
	height: 4rem;
	width: 5rem;
}
.back a{
	display: block;
	height: 6rem;
	width:6rem;
	position: absolute;
	z-index: 1;
}
.back img{
	height: 4rem;
	width: 5rem;
	margin-top: 1rem;
}
.fund{
	color: #AB8E3D;
	font-size: 1.8rem;
	position: relative;
	text-align: center;
	top: -2.2rem;
}
.content{
	width: 100%;
	height:19.5rem;
	position: relative;
	background-color: #FFFFFF;
	border-bottom: 1px solid #EFEFEF;
	/*border-top: 1px solid #EFEFEF;*/
}
.content .qiehuan{
	height: 5.5rem;
	width: 100%;
}
.content .ing{
	color: #AC8F3E;
	font-size: 1.6rem;
	line-height: 5.5rem;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 0rem;
	border-bottom: 1px solid #AC8F3E;
}
.content .end{
	color: #373737;
	font-size: 1.6rem;
	line-height: 5.5rem;
	width: 50%;
	text-align: center;
	float: right;
	position: absolute;
	top: 0rem;
	left: 50%;	
}
.record{
	width: 90%;
	height: 7rem;
	position: relative;
	border-bottom: 1px solid #DDDDDD;
	margin-left: 5%;
}
.content  .diyiqi{
	color: #878787;
	font-size: 1.4rem;
	line-height: 5.5rem;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 0rem;	
	height: 4rem;
}
.content  .jine{
	color: #878787;
	font-size: 1.4rem;
	line-height: 5.5rem;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 2rem;	
	height: 4rem;
}
.content  .riqi{
	color: #878787;
    font-size: 1.4rem;
    line-height: 5.5rem;
    width: 50%;
    text-align: center;
    position: relative;
    top: 0rem;
    height: 4rem;
    float: right;
	
}
.content  .lilv{
    color: #878787;
    font-size: 1.4rem;
    line-height: 5.5rem;
    width: 50%;
    text-align: center;
    position: relative;
    top: 2rem;
    height: 4rem;
    left: 50%;
}
.record1{
	width: 90%;
	height: 7rem;
	position: relative;
	border-bottom: 1px solid #DDDDDD;
	margin-left: 5%;
}
.none{
	display: none;
}

