body
 {
	width: 100%;
	height: 100%;
	background: url(../img/ditu@2x.png) center bottom ;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}
* {
	box-sizing: border-box;
}
.content {
	width: 85%;
	max-width: 640px;
	margin: 22rem auto 0 auto;
	/*position: relative;*/
	/*top: 22rem;*/
}
.content .loginForm .input {
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 1.5rem;
	margin-left: 2rem;
	height:2rem;
	line-height:2rem;
	padding-bottom:1rem;
}

.content .loginForm p {
	height: 5rem;
	line-height: 5rem;
	font-size: 1.5rem;
	color: #FFFFFF;
}

::-moz-placeholder {
	color: #868784;
	font-family: helvetica;
	font-size: 1.5rem;
	padding-bottom:1rem;
}

::-webkit-input-placeholder {
	color: #868784;
	font-family: helvetica;
	font-size: 1.5rem;
	padding-bottom:1rem;
}

:-ms-input-placeholder {
	color:#868784;
	font-family: helvetica;
	font-size: 1.5rem;
	padding-bottom:1rem;
}

.content .loginForm P:nth-of-type(1),
.content .loginForm P:nth-of-type(2),
.content .loginForm P:nth-of-type(3) {
	border-bottom: 1px solid #DDDDDD;
}
.font_color{
	color: #AB9040;
	margin-left: 1rem;
}
.loginBtn{
    height: 4rem;
    width: 100%;
    margin-top: 5rem;
}
.loginBtn img{
	height: 100%;
    width: 100%;
    
}
.resetPwd{
	color: #AB9040;
	margin-top: 1.5rem;
	font-size: 1.2rem;
	text-align: center;
}
