<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongniu.loan.business.dao.SquaredataDao">

	<resultMap type="com.tongniu.loan.business.domain.Squaredata" id="squaredataList">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="fund_id" property="fund_id" />
		<result column="trade_date" property="trade_date" />
		<result column="stock_code" property="stock_code" />
		<result column="stock_name" property="stock_name" />
		<result column="sl" property="sl" />
		<result column="now_price" property="now_price" />
		<result column="input_time" property="input_time" />
		<result column="bz" property="bz" />
		<result column="seid_id" property="seid_id" />
		<result column="seid_name" property="seid_name" />
		<result column="occurrence_fund" property="occurrence_fund" />
	</resultMap>
	
	<!-- 插入交易信息 -->
	<insert id="addSquaredata" parameterType="com.tongniu.loan.business.domain.Squaredata">
		insert into `squaredata`(`type`,`fund_id`,`trade_date`,`stock_code`,`stock_name`,`sl`,`now_price`,`bz`,`seid_id`,`seid_name`,`occurrence_fund`)
		values(#{type},#{fund_id},#{trade_date},#{stock_code},#{stock_name},#{sl},#{now_price},#{bz},#{seid_id},#{seid_name},#{occurrence_fund})
	</insert>
	<!-- 根据资金ID查询全部的交易信息 -->
	<select id="getSquaredataListByZj_id" resultMap="squaredataList">
		select * from `squaredata` where `fund_id`=#{fund_id}
	</select>

</mapper>