<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongniu.loan.view.dao.ShowContractDao">

	<resultMap type="com.tongniu.loan.view.domain.ShowContract"
		id="showContractList">
		<result column="contract_no" property="contract_no" />
		<result column="user" property="user" />
		<result column="cust" property="cust" />
		<result column="contract_money" property="contract_money" />
		<result column="sign_date" property="sign_date" />
		<result column="start_date" property="start_date" />
		<result column="investment_rate" property="investment_rate" />
		<result column="states" property="states" />
		<result column="invest_gain" property="invest_gain" />
		<result column="sum_gain" property="sum_gain" />
		<result column="check_name" property="check_name" />
		<result column="check_time" property="check_time" />
		<result column="fund_id" property="fund_id" />
		<result column="interest_rate" property="interest_rate" />
		<result column="fund_acc" property="fund_acc" />
		<result column="investment_account_no" property="investment_account_no" />
		<result column="earnest_money" property="earnest_money" />
		<result column="sum_money" property="sum_money" />
	</resultMap>


	<!-- 根据用户ID查询资金账户信息 -->
	<select id="findShowContractListByInvestment_account_no"
		resultMap="showContractList">
		select *
		from `showcontract` where
		`investment_account_no`=#{investment_account_no}
	</select>

	<!-- 查询全部 -->
	<select id="getAllShowContractList" resultMap="showContractList">
		select *
		from
		`showcontract` limit #{0},#{1}
	</select>

	<select id="getAllShowContractListCount" resultType="java.lang.Integer">
		select
		count(0)
		from
		`showcontract`
	</select>

	<!-- 查询全部 -->
	<select id="getAllUncheckedShowContractList" resultMap="showContractList">
		select *
		from
		`showcontract` where `states`=0 limit #{0},#{1}
	</select>

	<select id="getAllUncheckedShowContractListCount" resultType="java.lang.Integer">
		select count(0)
		from
		`showcontract` where `states`=0
	</select>


	<select id="searchShowContract" resultMap="showContractList">
		select *
		from
		`showcontract` where `user` like concat('%',#{2},'%') and
		`cust` like
		concat('%',#{3},'%') limit #{0},#{1}
	</select>

	<select id="searchShowContractCount" resultType="java.lang.Integer">
		select count(0)
		from
		`showcontract` where `user` like concat('%',#{0},'%') and
		`cust`
		like concat('%',#{1},'%')
	</select>

	<!-- 根据需要查询各种状态的合同 -->
	<select id="findNeewedShowContractList" resultMap="showContractList">
		select *
		from
		`showcontract` where `states`=#{states}
	</select>


	<select id="getShowContractsByFund_id" resultMap="showContractList">
		select * from
		showcontract where contract_no in(
		select contract_no from tfundacct
		where fund_id=#{0}) and states=1
		limit #{1},#{2}
	</select>

	<select id="getShowContractsByFund_id_Count" resultType="int">
		select
		count(0) from
		showcontract where contract_no in(
		select contract_no from
		tfundacct where fund_id=#{0}) and states=1
	</select>

	<select id="checkStart_date" resultType="int">
	<![CDATA[select count(0) from `investment_account` where investment_account_no=#{0} and start_date<=#{1} ]]>
		
	</select>

</mapper>